body{
    width: 70%;
    height: 80%;
    margin: auto;
    background-color: antiquewhite;
}
.mainFrame{
    border: 6px solid black;
    background-color:lightskyblue;
    border-radius: 25px;
    height: auto;
    width:50%;
    padding:0.5px ;
    margin-left:30%;
    margin-top: 10%;
}
.screenBar{
    border: solid red;
    background-color:white;
    border-radius:10px;
    padding:10%;
    margin:10px;
    font-size: 35px;
}

.rowOne, .rowTwo, .rowThree,.rowFour{
    padding:4%;
    display: flex;
    justify-content:space-between;
}

.btn{
    height: 60px;
    width: 50%;
    border: solid 5px black;
    border-radius: 25%;
    padding: 5%;
    margin: 8px;
    font-size: 30px;
    box-shadow: inset 0px,20px,0px,20px indigo;
    cursor: pointer;
}

.numbers{
    text-align: justify;
}
