.mainFrame{
    border: 6px solid black;
    background-color:lightskyblue;
    border-radius: 25px;
    height: auto;
    /* margin-right:630px; */
    width:30%;
    padding:0.5px ;
    margin-left:30%;
}
.screenBar{
    border: solid red;
    background-color:white;
    border-radius:10px;
    padding:10%;
    margin:10px;
}

.rowOne, .rowTwo, .rowThree,.rowFour{
    padding:3%;
    display: flex;
    justify-content:space-between;
}

/* 
/* body {
    margin: 60px;
}
.main {
    border: 3px solid black;
    display: flex;
    flex-direction: row;
    background: darkgray;
    justify-content: center;
    align-items: center;

}
.screen {
    border: 3px solid black;
    width: 200px;
    height: 200px;
}
.buttons {
    width: 20px;
    height:30px;
}
.buttonsLeft {
    display: flex;
    flex-direction: column;
}
.buttonsRight {
    display: flex;
    flex-direction: column;
} */                  

*/